/* Template */

* {
    margin: 0   ;
}

main, footer{
    margin-left: 10px;
    margin-right: 10px;
}

/* Banner Intestazione */

.intestazione {
    background-image: url(../img/pattern.png);
    background-color: #4FA0FF;
    width: 100%;
    padding-top: 100px;
}

.logo {
    width: 200px;
    margin-left: 10px;
}

/* Header Articolo */

.informazioni-articolo {
    padding-top: 20px;
    padding-bottom: 20px;
}

.titolo {
    font-size: 40px;
}

.autore {
    margin-top: 5px;
    color: #8D8D8D;
    font-weight: 500;
    font-size: 18px;
}

.nome-autore {
    color: #24AAE4;
}

.data {
    margin-top: 2px;
    color: #8D8D8D;
    font-weight: 500;
    font-size: 12px;
}

.didascalie-foto {
    font-size: 16px;
    margin-top: 2px;
}

/* Contenuto Articolo */

.contenitore-articolo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.lista-articolo {
    margin-top: 20px;
    list-style-position: inside;
    padding-left: 0px;
}

.evidenziato {
    background-color: #ffff00;
}

/* Tabella Articolo */

.tabella-articolo {
    margin-top: 20px;
    margin-bottom: 20px;
    border-spacing: 0px;
    text-align: left;
}

.spazio-testo-tabella {
    width: 50%;
}

.tabella-articolo thead {
    background-color: #1FA9E4;
    color: white;
}

tbody tr:nth-child(odd){
    background-color: #B1E5F2;
}

/* Articoli consigliati */

footer {
    margin-bottom: 20px;
}

.titolo-footer {
    color:#8D8D8D;
}

.anteprime-articoli-consigliati {
    display: flex;
}

.anteprima-articolo {
    margin-top: 10px;
    margin-right: 10px;
    width: 200px;
    height: 150px;
    background-size: contain;
}

.titolo-anteprima-articolo {
    color: white;
    padding-top: 10px;
    margin-left: 10px;
}


#monitor {
    background-image: url(../img/monitor.jpg);
}

#infografica {
    background-image: url(../img/graph.jpg);
}